<main>
    <div class="container">
        <header>
            <!-- Youtube video Background -->
            <!-- Text Slider -->
            <h2>Sliders</h2>
            <div>
                <span>Lorem, ipsum dolor.</span>
                <span>Lorem ipsum dolor sit.</span>
                <span>Lorem, ipsum.</span>
            </div>
            <!-- Btn Action -->
            <a href="#">Learn More?</a>
        </header>
        <section>
            <h2>Our Services</h2>
            <div>
                <!-- Cards -->
                <div>
                    <h3>Title 1</h3>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <span>
                        <img src="" alt="img">
                    </span>
                </div>
                <div>
                    <h3>Title 2</h3>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <span>
                        <img src="" alt="img">
                    </span>
                </div>
                <div>
                    <h3>Title 3</h3>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <span>
                        <img src="" alt="img">
                    </span>
                </div>
            </div>
        </section>
        <section>
            <h2>Our Work</h2>
            <!-- Gallery -->
            <div>
                <!-- Row 1 -->
                <div>
                    <!-- Column 1 -->
                    <div>
                        <img src="" alt="img">
                    </div>
                    <!-- Column 2 -->
                    <div>
                        <div>
                            <img src="" alt="">
                        </div>
                        <div>
                            <img src="" alt="img">
                        </div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div>
                    <!-- Column 1 -->
                    <div>
                        <img src="" alt="img">
                    </div>
                     <!-- Column 2 -->
                    <div>
                        <img src="" alt="img">
                    </div>
                     <!-- Column 3 -->
                    <div>
                        <img src="" alt="img">
                    </div>
                     <!-- Column 4 -->
                    <div>
                        <img src="" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Our Prices</h2>
            <!-- Table Chart -->
            <table>
                <!-- Table Header -->
                <tr>
                    <th>Topic 1</th>
                    <th>Topic 2</th>
                    <th>Topic 3</th>
                    <th>Topic 4</th>
                    <th>Topic 5</th>
                </tr>
                <tr>
                    <td>data 1</td>
                    <td>data 2</td>
                    <td>data 3</td>
                    <td>data 4</td>
                    <td>data 5</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Book An Appointment</h2>
            <!-- Square Appointents -->
        </section>
    </div>
</main>